
.button{
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(20, 78, 187);
    font-family: 'Courier New';
    font-weight: 600;
    font-size: 18px;
size: 50px;
height: 60px;
width: 200px;
font-weight: bold;
color: rgb(250, 246, 246);
border-radius: 15px;
}
.button:hover{
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    transform:.2s ease;
    background-color:rgb(9, 72, 155);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }